@import './../jquery.rangeSlider';
html {
  font: 14px Roboto, sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.demonstration {
  box-sizing: border-box;
  width: 450px;
  padding: 10px;

  box-shadow: 0 0 10px gray;

  p {
    margin: 15px 0;
  }

  .lrs:not(.lrs_vertical) {
    width: 100%;
  }
}

.demonstration__title {
  margin: 0 0 32px;

  font-size: 30px;
  text-align: center;
}

.demonstration__field {
  margin-left: 10px;
}

.demonstration fieldset {
  margin: 15px 0;
  padding: 10px 5px;
}

.demonstration fieldset legend {
}

.demonstration fieldset label {
  margin-right: 15px;
}
