doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Простой, расширяемый и легко настраиваемый слайдер диапазона")
    meta(name="keywords" content="range slider, слайдер диапазона, jquery plugin range slider, jquery plugin")
    link(rel="apple-touch-icon", sizes="180x180", href="../favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="../favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="../favicon/favicon-16x16.png")
    link(rel="manifest", href="../favicon/site.webmanifest")
    link(rel="mask-icon", href="../favicon/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-config" content="../favicon/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")
    title range-slider
  body
    main.demonstration
      h1.demonstration__title.demonstration__title_hidden Демо страница со слайдерами
      .demonstration__container
        - const sliders = ["Слайдер 1", "Слайдер 2", "Слайдер 3"]
        each slider in sliders
          section.slider.js-slider
            h2.slider__title= slider
            .slider__preview
              span.slider__field
            .slider__configuration
              form.slider__form(action="/mock-address/change-me" method="post")
                .slider__group
                  p.slider__subgroup
                    label.slider__group-title Значение ОТ
                      input.slider__field(type="text" name="firstValue")
                  p.slider__subgroup
                    label.slider__group-title Значение ДО
                      input.slider__field(type="text" name="secondValue")
                  p.slider__subgroup
                    label.slider__group-title Минимальное значение
                      input.slider__field(type="text" name="min")
                  p.slider__subgroup
                    label.slider__group-title Максимальное значение
                      input.slider__field(type="text" name="max")
                  p.slider__subgroup
                    label.slider__group-title Шаг слайдера
                      input.slider__field(type="text" name="step")
                .slider__group
                  p.slider__subgroup
                    label.slider__group-title Показать шкалу
                      input.slider__field(type="checkbox" name="hasScale")
                  p.slider__subgroup
                    label.slider__group-title Показать подсказку
                      input.slider__field(type="checkbox" name="hasTip")
                  p.slider__subgroup
                    label.slider__group-title Интервал
                      input.slider__field(type="checkbox" name="hasInterval")
                  p.slider__subgroup
                    label.slider__group-title Вертикальный вид
                      input.slider__field(type="checkbox" name="isVertical")
                  fieldset.slider__subgroup
                    legend Цветовые темы слайдера
                    label.slider__group-title Голубая тема
                      input.slider__field(type="radio" name="theme" value="aqua")
                    label.slider__group-title Красная тема
                      input.slider__field(type="radio" name="theme" value="red")
    script(src="./index.ts")