@import '../slider/scss/slider';

html {
  font: 14px/24px Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 22.8571rem;
  max-width: 137.1429rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}

.demonstration {
  flex-grow: 1;

  &__title {
    &_hidden {
      position: absolute;
      width: 0.0714rem;
      height: 0.0714rem;
      margin: -0.0714rem;
      border: 0;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 0.7143rem;
  }
}

.slider {
  $root: &;

  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.7143rem;
  padding: 2.9143rem 0.7143rem 2.9143rem 2.9143rem;
  box-shadow: 0 0 0.9143rem $gray-color-100;

  &__title {
    position: absolute;
    left: 43.3286rem;
    top: 2.5714rem;
    margin: 0;
    font-size: 2.1429rem;
    text-align: center;
  }

  &__preview {
    position: relative;
    width: 35%;
    text-align: center;
  }

  &__configuration {
    width: 60%;
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__group {
    &:nth-child(1) {
      width: 40%;
      margin-right: 2.4286rem;

      #{$root}__field {
        margin-left: 1.2143rem;
      }
    }

    &:nth-child(2) {
      width: 40%;
    }

    &-title + #{$root}__group-title {
      margin-left: 1.0714rem;
    }
  }

  &__subgroup {
    margin: 0 0 1.0714rem;

    &:last-child {
      margin: 0;
    }
  }
}
