<span class="lrs lrs_theme_{{theme}}{{#if isVertical}} lrs_direction_vertical{{/if}}">
  <span class="lrs__runner"></span>
  {{#if hasTip}}
    <span class="lrs__tip"></span>
  {{/if}}
  <span class="lrs__bar"></span>
  {{#if hasInterval}}
    <span class="lrs__runner"></span>
    {{#if hasTip}}
      <span class="lrs__tip"></span>
    {{/if}}
  {{/if}}
  {{#if hasScale}}
    <span class="lrs__scale"></span>
  {{/if}}
</span>