mixin slider(title)
  section.slider.js-slider
    h2.slider__title= title
    .slider__preview
      span.slider__field
    .slider__configuration
      form.slider__form(action="/mock-address/change-me" method="post")
        .slider__group
          p.slider__subgroup
            label.slider__group-title Значение ОТ
              input.slider__field(type="text" name="firstValue")
          p.slider__subgroup
            label.slider__group-title Значение ДО
              input.slider__field(type="text" name="secondValue")
          p.slider__subgroup
            label.slider__group-title Минимальное значение
              input.slider__field(type="text" name="min")
          p.slider__subgroup
            label.slider__group-title Максимальное значение
              input.slider__field(type="text" name="max")
          p.slider__subgroup
            label.slider__group-title Шаг слайдера
              input.slider__field(type="text" name="step")
        .slider__group
          p.slider__subgroup
            label.slider__group-title Показать шкалу
              input.slider__field(type="checkbox" name="hasScale")
          p.slider__subgroup
            label.slider__group-title Показать подсказку
              input.slider__field(type="checkbox" name="hasTip")
          p.slider__subgroup
            label.slider__group-title Интервал
              input.slider__field(type="checkbox" name="hasInterval")
          p.slider__subgroup
            label.slider__group-title Вертикальный вид
              input.slider__field(type="checkbox" name="isVertical")
          fieldset.slider__subgroup
            legend Цветовые темы слайдера
            label.slider__group-title Голубая тема
              input.slider__field(type="radio" name="theme" value="aqua")
            label.slider__group-title Красная тема
              input.slider__field(type="radio" name="theme" value="red")