doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title rangeSlider
        link(rel="stylesheet" href="./example.scss")
    body
        p Paragraph
        input.range(type="text")

        script(src="./../jquery.rangeSlider.js")
        script(src="./example.js")