doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title rangeSlider
        link(rel="stylesheet" href="./example.scss")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>
    body
        p.form__elem I'm a paragraph
            input.range1(type="text")
        p.form__elem I'm a paragraph, too
            input.range2(type="text")
        <input type="text" class="js-range-slider" name="my_range" value=""/>

        script(src="https://code.jquery.com/jquery-3.4.1.min.js")
        script(src="./../jquery.rangeSlider.js")
        //<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
        script(src="./example.js")