include ../text-input/text-input

mixin dashboard
  .dashboard.js-dashboard
    form.dashboard__form(action="/mock-address/change-me" method="post")
      .dashboard__group
        p.dashboard__subgroup
          label.dashboard__label Ползунок 1 
            +text-input({"modifier": "first-value", "type": "number", "name": "firstValue"})
        p.dashboard__subgroup
          label.dashboard__label Ползунок 2 
            +text-input({"modifier": "second-value", "type": "number", "name": "secondValue"})
        p.dashboard__subgroup
          label.dashboard__label Минимальное значение 
            +text-input({"modifier": "min-value", "type": "number", "name": "min"})
        p.dashboard__subgroup
          label.dashboard__label Максимальное значение 
            +text-input({"modifier": "max-value", "type": "number", "name": "max"})
        p.dashboard__subgroup
          label.dashboard__label Шаг слайдера 
            +text-input({"modifier": "step-value", "type": "number", "name": "step"})
      .dashboard__group
        p.dashboard__subgroup
          label.dashboard__label Показать шкалу 
            +text-input({"modifier": "has-scale", "type": "checkbox", "name": "hasScale"})
        p.dashboard__subgroup
          label.dashboard__label Показать подсказку 
            +text-input({"modifier": "has-tip", "type": "checkbox", "name": "hasTip"})
        p.dashboard__subgroup
          label.dashboard__label Интервал 
            +text-input({"modifier": "has-interval", "type": "checkbox", "name": "hasInterval"})
        p.dashboard__subgroup
          label.dashboard__label Вертикальный вид 
            +text-input({"modifier": "is-vertical", "type": "checkbox", "name": "isVertical"})
        fieldset.dashboard__subgroup
          legend Цветовые темы слайдера
          label.dashboard__label Голубая тема 
            +text-input({"modifier": "aqua-theme", "type": "radio", "name": "theme", "value": "aqua"})
          label.dashboard__label Красная тема 
            +text-input({"modifier": "red-theme", "type": "radio", "name": "theme", "value": "red"})
