.hidden-input {
  display: none;
}

.lrs {
  $root: &;

  position: relative;
  display: inline-block;
  width: 100%;
  height: 0.4286rem;
  background-color: $gray-color-100;
  border-radius: 0.3571rem;
  user-select: none;

  &__bar {
    position: absolute;
    height: 100%;
  }

  &__runner {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1.2857rem;
    width: 1.2857rem;
    border-radius: 50%;
    transform: translateY(-50%);
    cursor: grab;

    &:nth-of-type(1) {
      z-index: 1;
    }

    &:nth-of-type(2) {
      z-index: 2;
    }

    &_grabbed {
      cursor: grabbing;
    }

    &_last-grabbed,
    &_last-grabbed + #{$root}__tip {
      z-index: 3;
    }

    &_hidden {
      display: none;
    }
  }

  &__tip {
    position: absolute;
    top: -3.0571rem;
    padding: 0.3571rem 0.5714rem;
    color: $white-color-100;
    font-size: 1rem;
    line-height: normal;
    border-radius: 0.3571rem;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -0.2857rem;
      width: 0.5714rem;
      height: 0.5714rem;
      transform: translate(-50%, 0) rotate(45deg);
    }

    &_hidden {
      display: none;
    }
  }

  &_direction_vertical {
    width: 0.4286rem;
    height: 100%;

    #{$root}__bar {
      height: auto;
      width: 100%;
    }

    #{$root}__runner {
      left: 50%;
      top: auto;
      bottom: 0;
      height: 1.2857rem;
      width: 1.2857rem;
      border-radius: 50%;
      transform: translateX(-50%);
    }

    #{$root}__tip {
      top: auto;
      left: 1.5286rem;
      padding: 0.2857rem 0.5714rem;

      &::before {
        left: -0.2857rem;
        top: 50%;
        transform: translate(0, -50%) rotate(135deg);
      }
    }
  }

  &_theme_aqua {
    #{$root}__bar,
    #{$root}__runner,
    #{$root}__tip,
    #{$root}__tip::before {
      background-color: $aqua-theme-color-100;
    }

    #{$root}__tip {
      box-shadow: 0 0 0 0.0714rem $white-color-100, 0 0 0 0.1429rem $aqua-theme-color-100;
    }

    #{$root}__tip::before {
      box-shadow: 0.0714rem 0.0714rem 0 0 $white-color-100,
        0.1429rem 0.1429rem 0 0 $aqua-theme-color-100;
    }
  }

  &_theme_red {
    #{$root}__bar,
    #{$root}__runner,
    #{$root}__tip,
    #{$root}__tip::before {
      background-color: $red-theme-color-100;
    }

    #{$root}__tip {
      box-shadow: 0 0 0 0.0714rem $white-color-100, 0 0 0 0.1429rem $red-theme-color-100;
    }

    #{$root}__tip::before {
      box-shadow: 0.0714rem 0.0714rem 0 0 $white-color-100,
        0.1429rem 0.1429rem 0 0 $red-theme-color-100;
    }
  }
}
