// Basic font
$basic-font: 14px/24px Arial, sans-serif;

// Colors
$gray-color-100: rgba(229, 229, 229, 1);

$white-color-100: rgba(255, 255, 255, 1);

$aqua-theme-color-100: rgba(83, 182, 168, 1);

$red-theme-color-100: rgba(229, 87, 61, 1);
